.view-author-section {
  padding: 0rem 12.5rem;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  z-index: 2;
}

.view-author-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

@media all and (max-width: 1700px) {
  .view-author-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

@media all and (max-width: 1175px) {
  .view-author-section {
    padding: 3rem 5rem;
  }
}

@media all and (max-width: 700px) {
  .view-author-section {
    padding: 3rem 2.5rem;
  }
}

@media all and (max-width: 400px) {
  .view-author-section {
    padding: 2rem 1rem;
  }
}
