.login-section {
  padding: 0rem 12.5rem;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.login-page-content {
  display: flex;
  width: 90%;
  justify-content: space-around;
}
