.edit-create-blog-section {
  padding: 0rem 15rem;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.edit-create-blog-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 5rem;
  gap: 15rem;
  padding: 3rem 0;
}

@media all and (max-width: 1750px) {
  .edit-create-blog-section {
    padding: 0 10rem;
  }
}

@media all and (max-width: 1600px) {
  .edit-create-blog-section {
    padding: 0 5rem;
  }
}

@media all and (max-width: 1430px) {
  .edit-create-blog-content {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}

@media all and (max-width: 600px) {
  .edit-create-blog-section {
    padding: 0 2.5rem;
  }
}

@media all and (max-width: 450px) {
  .edit-create-blog-section {
    padding: 0 1.5rem;
  }
}
