.authors-list-section {
  padding: 0rem 12.5rem;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  align-self: flex-start;
  padding-bottom: 3rem;
}

.authors-list-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5rem;
  height: 100%;
  gap: 3rem;
}

.authors-list-content > h1 {
  font-size: var(--font-big);
  color: white;
  margin-top: 4rem;
}

@media all and (max-width: 1250px) {
  .authors-list-section {
    padding: 0 5rem;
  }
}

@media all and (max-width: 750px) {
  .authors-list-section {
    padding: 0 2rem;
  }
}

@media all and (max-width: 650px) {
  .authors-list-content > h1 {
    font-size: 60px;
  }
}

@media all and (max-width: 500px) {
  .authors-list-section {
    padding: 0;
  }
}

@media all and (max-width: 375px) {
  .authors-list-content > h1 {
    font-size: 40px;
  }
}
