.not-found-page-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5rem 0;
}

.not-found-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  color: white;
  gap: 5rem;
  margin-top: 10rem;
  z-index: 2;
}

.not-found-page-content > h1 {
  font-size: var(--font-big);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.not-found-page-content > h1 > span {
  font-size: 60px;
}

.not-found-page-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 60%;
  padding: 2rem 0;
}

.not-found-page-buttons > a {
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: #07982f;
  align-self: center;
  width: 25%;
  margin-top: auto;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  color: white;
  transition: transform 0.25s;
  font-size: 0.9rem;
}

.not-found-page-buttons > a:hover {
  transform: scale(1.1);
}

@media all and (max-width: 800px) {
  .not-found-page-buttons > a {
    width: 80%;
  }
  .not-found-page-container {
    position: relative;
    height: auto;
  }
}

@media all and (max-width: 750px) {
  .not-found-page-content > h1 {
    font-size: 60px;
  }
  .not-found-page-content > h1 > span {
    font-size: 40px;
  }
  .not-found-page-content {
    gap: 2.5rem;
  }
}

@media all and (max-width: 500px) {
  .not-found-page-buttons {
    width: 80%;
  }
  .not-found-page-content > h1 {
    font-size: 50px;
  }
  .not-found-page-content > h1 > span {
    font-size: 20px;
  }
  .not-found-page-buttons > a {
    padding: 0.4rem 0;
    font-size: 0.75rem;
  }
}
