.searchbar-container {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: flex-end;
  background-color: white;
  border: 2px solid var(--second-green);
  border-radius: 3px;
  margin: 0 2rem;
}

.searchbar-container:focus {
  outline: 2px solid var(--second-green);
}

.searchbar-container input {
  width: 100%;
  border: none;
}

.searchbar-container input:focus {
  outline: none;
}

#fasearch {
  margin: 3px;
}

@media all and (max-width: 1150px) {
  .searchbar-container {
    display: none;
  }
}
