.menu-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0px;
  transition: height 0.3s;
  display: none;
  position: absolute;
  width: 100%;
  align-self: center;
  background-color: #f7c40a;
  gap: 2rem;
  z-index: 3;
  overflow: hidden;
}

.menu-nav-container > a {
  width: 100%;
  text-decoration: none;
  background-color: var(--second-green);
  padding: 1.5rem 0;
  font-size: 1rem;
  padding-left: 3rem;
  color: white;
  max-height: 15%;
  font-weight: 800;
  letter-spacing: 0.2rem;
}
