.search-results-section {
  padding: 0rem 12.5rem;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-results-page-content {
  align-self: center;
  height: 100%;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
