.view-blog-content > .search-results-star {
  position: absolute;
  right: 2rem;
  top: 0rem;
  font-size: 5rem;
  color: yellow;
  top: 0.5rem;
  right: 1.5rem;
  margin-bottom: 0;
}

.profile-details > .search-results-star {
  position: absolute;
  font-size: 3rem;
  top: 0.5rem;
  margin-bottom: 0;
  right: 0.5rem;
}

.blog-profile-comp-buttons-container .search-results-star,
.blog-profile-comp-buttons .search-results-star {
  position: relative;
  margin-bottom: 0;
  align-self: flex-start;
}

.search-results-star {
  font-size: 2rem;
  align-self: flex-end;
  margin-bottom: -1.5rem;

  transition: transform 0.3s ease-in;
}

.search-results-star:hover {
  transform: scale(1.1) rotate(180deg);
}

@media all and (max-width: 850px) {
  .view-blog-content > .search-results-star {
    font-size: 2.5rem;
  }
}

@media all and (max-width: 320px) {
  .view-blog-content > .search-results-star {
    font-size: 1.5rem;
  }
}
