.footer-links {
  display: flex;
  gap: 1rem;
  font-size: var(--font-small);
  margin-right: auto;
  margin-left: 3.5rem;
}

.footer-links > a {
  text-decoration: none;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.footer-links > a:hover {
  background-color: #043b13;
  color: white;
}

@media screen and (max-width: 1000px) {
  .footer-links {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .footer-links {
    margin-left: 1rem;
    gap: 0.35rem;
  }
}
