.footer-sm {
  display: flex;
  gap: 1rem;
}

.footer-sm > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-small);
  color: black;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.footer-sm > a:hover {
  background-color: #043b13;
  color: white;
}

@media screen and (max-width: 1000px) {
  .footer-sm {
    display: flex;
    flex-direction: column;
  }
  .footer-sm > a > p {
    display: none;
  }
}
