.contactus-section {
  padding: 0rem 12.5rem;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
}

.contactus-page-content {
  display: flex;
  flex-direction: column;
  color: white;
}

.contactus-page-content h1 {
  font-size: var(--font-big);
  letter-spacing: 9.6px;
  align-self: center;
  margin-bottom: 10rem;
}

.contactus-page-content p {
  font-size: var(--font-medium);
}
