/* Global Styles */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 3.5px solid cyan;
}
/* Vars */
:root {
  --font-small: 12px;
  --font-medium: 30px;
  --font-big: 96px;
  --comp-paddings: 12.5rem;
  --main-green: #043b13;
  --second-green: #07982f;
  --scroll-animation-transform-direction: translateX(-100%);
}

body {
  background-color: #043b13;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root,
body,
html {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  transition: transform 0.1s ease-in;
}

button:hover {
  transform: scale(1.1);
}

/* SCROLL ANIMATIONS */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: var(--scroll-animation-transform-direction);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
}
