.blog-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

.blog-preview-container > h1 {
  font-size: var(--font-big);
  color: white;
  align-self: center;
}

.blog-preview-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 1rem;
}

.blog-preview-info > .blog-reactions > button {
  color: white;
}

.blog-preview-info > .blog-reactions {
  padding: 0.5rem;
}

.blog-preview-info > h2 {
  font-size: var(--font-medium);
}

.blog-preview-info p:first-of-type {
  width: 100%;
  text-align: end;
  padding-right: 3rem;
  font-size: 20px;
}

@media all and (max-width: 1430px) {
  .edit-create-blog-content {
    flex-direction: column;
  }
  .blog-preview-container {
    width: 50%;
  }
}

@media all and (max-width: 900px) {
  .blog-preview-container {
    width: 75%;
  }
}

@media all and (max-width: 625px) {
  .blog-preview-container > h1 {
    font-size: 60px;
  }
  .blog-preview-container {
    width: 100%;
  }
}
@media all and (max-width: 450px) {
  .blog-preview-container > h1 {
    font-size: 40px;
    margin-bottom: 2rem;
  }
  .blog-preview-info > .blog-reactions > button {
    color: white;
    font-size: 0.6rem;
  }
  .blog-preview-info > .blog-reactions {
    padding: 0.2rem;
  }
}
