.signup-container {
  padding: 0rem 12.5rem;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.signup-page-content {
  display: flex;
}
