.blog-profile-comp-container {
  display: flex;
  background-color: #043b13;
  border-bottom-right-radius: 1rem;
  max-width: 97.5%;
  color: white;
  flex-direction: column;
  padding: 0.75rem;
  gap: 1rem;
}

.blog-profile-comp-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.blog-profile-comp-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.blog-profile-comp-info h1 {
  font-size: 1.75rem;
}

.blog-profile-comp-info h2 {
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.blog-profile-comp-buttons-container > .blog-reactions > button {
  color: white;
}
.blog-profile-comp-buttons-container > .blog-reactions {
  gap: 0.5rem;
}

@media all and (max-width: 910px) {
  .blog-profile-comp-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
  }
}

@media all and (max-width: 625px) {
  .blog-profile-comp-buttons-container > .blog-reactions {
    display: none;
  }
  .blog-profile-comp-container {
    gap: 2rem;
  }
}

@media all and (max-width: 400px) {
  .blog-profile-comp-info h1 {
    font-size: 1.2rem;
  }
  .blog-profile-comp-info h2 {
    font-size: 1rem;
  }
  .blog-profile-comp-info p {
    font-size: 0.8rem;
  }
}
