.no-profile-section {
  padding: 0rem 12.5rem;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.no-profile-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-profile-page-content h1 {
  font-size: 3.5rem;
  letter-spacing: 4px;
  text-align: center;
  color: white;
}

.no-profile-section-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 5rem;
}

.no-profile-section-links a {
  border: none;
  background-color: #07982f;
  align-self: center;
  width: 25%;
  margin-top: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 1rem 0rem;
  color: white;
  transition: transform 0.25s;
  z-index: 2;
}

.no-profile-section-links a:hover {
  transform: scale(1.1);
}

@media all and (max-width: 1350px) {
  .no-profile-section {
    padding: 0 5rem;
  }
}

@media all and (max-width: 1150px) {
  .no-profile-page-content h1 {
    font-size: 2.5rem;
  }
  .no-profile-section-links a {
    padding: 0.5rem 0;
  }
}

@media all and (max-width: 900px) {
  .no-profile-page-content h1 {
    font-size: 1.5rem;
  }
  .no-profile-section-links {
    width: 80%;
  }
}

@media all and (max-width: 550px) {
  .no-profile-section {
    padding: 0 2rem;
  }
}

@media all and (max-width: 450px) {
  .no-profile-section-links {
    width: 100%;
  }
  .no-profile-section-links a {
    width: 35%;
  }
}
